---
---

<div>
  <div>
    <h1
      class="mb-1 text-1xl font-extrabold leading-none tracking-tight text-gray-900 md:text-1xl lg:text-1xl dark:text-white"
    >
      ¡Bienvenidos a mi espacio digital!
    </h1>

    <div class="flex">
      <div class="flex-7 w-64 lg:text-center mt-5">
        <p class="mt-4 text-gray-500 dark:text-gray-400">
          Sumérgete en el apasionante universo donde la <span class="highlight"
            >tecnología</span
          >, la <span class="highlight">programación</span> y la <span
            class="highlight">inteligencia artificial</span
          > convergen para moldear el mañana. Soy <span class="highlight"
            >Kike</span
          >, un intrépido explorador de la <span class="highlight"
            >innovación</span
          >, constantemente inmerso en el aprendizaje y en la búsqueda
          incansable de la vanguardia tecnológica.
        </p>
      </div>
      <div class="flex-1 w-32">
        <div
          class="grid min-h-[80px] w-full place-items-center overflow-x-scroll rounded-lg p-6 lg:overflow-visible"
        >
          <img
            class="object-cover object-center w-80 h-80"
            src="https://avatars.githubusercontent.com/u/16477475?v=4"
            alt="Una foto de perfil de enriquetecfan generada por la IA "
          />
        </div>
      </div>
    </div>

    <div class="flex">
      <p class="mb-3 text-gray-500 dark:text-gray-400">
        Con un enfoque <span class="highlight">audaz</span> y <span
          class="highlight">autodidacta</span
        >, mi objetivo va más allá de resolver los desafíos presentes; busco
        anticiparme a las <span class="highlight">tendencias futuras</span>,
        explorando los rincones más innovadores de la <span class="highlight"
          >programación</span
        > y la <span class="highlight">inteligencia artificial</span>. Mi
        trayectoria se teje con un <span class="highlight"
          >compromiso inquebrantable</span
        > por superar los límites y contribuir con <span class="highlight"
          >ideas frescas</span
        > y <span class="highlight">soluciones creativas</span> a cualquier proyecto
        que emprenda.
      </p>
    </div>
    <div class="flex">
      <p class="mb-3 text-gray-500 dark:text-gray-400">
        Además de mi pasión por la <span class="highlight">programación</span> y
        la
        <span class="highlight">inteligencia artificial</span>, me aventuro en
        los cielos con <span class="highlight">drones</span> de diversas categorías.
        Desde el año pasado, ostento el título de <span class="highlight"
          >piloto de drones</span
        > certificado por <span class="highlight">AESA</span> para las categorías
        <span class="highlight">A1/A3</span> y el curso de radiofonista, explorando
        nuevos horizontes desde las alturas.
      </p>
    </div>
    <div class="flex">
      <p class="mb-3 text-gray-500 dark:text-gray-400">
        Y como fiel seguidor de la filosofía de <span class="highlight"
          >Steve Jobs</span
        >, encuentro inspiración en sus palabras: "<span class="highlight"
          >Stay Hungry, Stay Foolish</span
        >". Esta frase resuena en mi camino, recordándome que el <span
          class="highlight">hambre por el conocimiento</span
        > y la disposición para <span class="highlight">correr riesgos</span> son
        clave en la búsqueda de la excelencia.
      </p>
    </div>
  </div>
</div>

<style>
  .highlight {
    font-weight: bold;
  }
</style>
