---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
        Enrique Rodriguez Vela
      </span>
    </h1>
    <p class="text-1xl pb-4 content-center text-center">Desarrolador Web y Piloto de drones</p>
  </div>
  <div>
    <!-- <p class="mb-2 content-center text-center">
      Bienvenido a mi sitio web personal. 
    </p> -->
    <!-- <p class="mb-2 content-center text-center">
      Aquí encontrarás información sobre mis proyectos y artículos sobre tecnología y desarrollo web.
    </p> -->
  </div>
</section>
